.infowindow-container {
  background: rgba(250, 250, 250, 0.9);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s;
  top: 0;
  z-index: 403;

  h2 {
    font-size: 24px;
    line-height: 1.4;
  }

  p,
  figcaption {
    font-size: 16px;
    line-height: 1.5;
  }

  figure {
    margin: 0 auto;
  }

  figcaption,
  .photo-caption {
    color: darken($blue, 20);
    font-style: italic;
    font-size: 14px;
  }

  &.active {
    transform: translateX(0);
    transition: transform 0.3s;
  }

  @media (min-width: 600px) {
    width: 400px;
  }
}

.infowindow-content {
  bottom: 0;
  left: 0;
  padding: 2%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  width: 100%;
}

.infowindow-toggle {
  background: $blue;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding: 5px 15px;
  position: absolute;
  right: -35px;
  transform: rotate(90deg);
  top: 100px;
  z-index: -1;
}

.infowindow-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 5em auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
